# ---------------------------
# ENTORNOS VENV / CONDA
# ---------------------------
venv/
.env/
**/venv/
**/.env/
**/*env*/
**/*Env*/
**/*ENV*/

# ---------------------------
# CARPETAS DE DATOS
# ---------------------------
data/
datasets/
**/data/
*.csv
*.xls
*.xlsx
*.data

# ---------------------------
# PESOS Y MODELOS
# ---------------------------
*.pth
*.pt
*.h5
*.pkl
*.joblib

# ---------------------------
# ARCHIVOS PYTHON COMPILADOS
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# OTROS
# ---------------------------
.DS_Store

